<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/dtd/web-app_2_2.dtd">

<web-app>

  <!-- The location of the configuration file -->
  <context-param>
    <param-name>configFile</param-name>
    <param-value>../conf/regain/SearchConfiguration.xml</param-value>
  </context-param>

</web-app>
